*::-webkit-scrollbar {
  display: none;
}

* {
  user-select: none;
}

img {
  -webkit-user-drag: none;
  align-self: center;
  image-rendering: pixelated;
}

.App {
  font-family: 'VT323', sans-serif;
  margin: auto;
  width: min-content;
  justify-content: center;
  min-width: 80%;
  max-width: 80%;
}

body {
  background-color: rgb(232, 163, 14);
  background-image: url('../img/pizza.png');
  background-size: 10%;
  animation: moveBackground 3600s linear infinite;
  padding: 0;
}

.noAnimation {
  animation: none;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -10000% 10000%;
  }
}

.PizzaButton {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 60%;
  left: 20%;
  animation: rotate 10s linear infinite;
}

.PizzaButton img {
  position: relative;
  width: 100%;
  padding: 0;
  filter: drop-shadow(0px 0.125rem 0.25rem rgba(0, 0, 0, 0.3));
  transition: transform 0.05s ease-in-out;
  z-index: 1;
}

.PizzaButton:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0px 0.25rem 0.5rem rgba(0, 0, 0, 0.5));
}

.PizzaButton:active img {
  transform: scale(1);
  filter: drop-shadow(0px 0.125rem 0.25rem rgba(0, 0, 0, 0.3));
}

.pizzaCount {
  color: rgb(190, 0, 0);
  position: relative;
  text-align: center;
  border: 0.125rem solid black;
  border-radius: 0.5rem;
  background-color: rgb(240, 180, 20);
  filter: drop-shadow(0px 0.125rem 0.25rem rgba(0, 0, 0, 0.3));
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.affordable:active {
  animation: breathing 5s ease-out infinite normal;
}

.powerUp {
  font-size: 1rem;
  display: block;
  background-color: rgb(240, 180, 20);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  filter: drop-shadow(0px 0.125rem 0.25rem rgba(0, 0, 0, 0.3));
  margin: 0.5rem 0 0.5rem 0;
}

.pricy {
  filter:  grayscale(100);
}

.powerUpDisabled {
  background-color: rgb(50, 50, 50);
  color: white;
  border-color: black;
}

.powerUpDisabled h3,
.powerUpDisabled h3,
.powerUpDisabled p {
  filter: grayscale(100%) brightness(30%) blur(0.2rem);
}

.powerUp div {
  display: flex;
}

.powerUp h3 {
  margin: 0.5rem 0 0 0.5rem;
}

.powerUp img {

  min-width: 5rem;
  max-width: 5rem;
  border-color: black;
  border: 0.125rem solid;
  border-radius: 0.25rem;
  width: -webkit-fill-available;
  margin: 0 0.5rem 0 0.5rem;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
}

.powerUp p {
  margin: 0 0.5rem 0 0;
}

.powerUp h2 {
  margin: 0 0.5rem 0.5rem 0;
}

.powerUp h6 {
  margin: 0.5rem;
}

.prices {
  font-size: 80%;
  justify-content: end;
  word-break: break-all;
}

@media screen and (min-width: 800px) {
  .prices {
    font-size: 80%;
  }

  .App {
    min-width: 50%;
    max-width: 50%;
  }
}